src/ada/ada-n8n-workflow.json
{
  "name": "Ada AI Assistant - Daher Plan",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ada-assistant",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "da95b163-3e9c-4117-9f97-e773ef338186",
      "name": "Webhook - Ada Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [960, 880],
      "webhookId": "ada-assistant-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate data from webhook\nconst body = $input.first().json.body || $input.first().json;\nconst { message, projectId, projectName, userId, userEmail, userName, teamMembers, projectData, humandChannelId } = body;\n\nif (!message || !projectId) {\n  return {\n    error: true,\n    errorMessage: 'Mensagem ou ID do projeto não fornecidos'\n  };\n}\n\n// Format team members for context\nconst formattedTeamMembers = (teamMembers || []).map(m => ({\n  id: m.id,\n  name: m.name || m.full_name,\n  email: m.email || '',\n  role: m.role,\n  humandChannelId: m.humandChannelId || null\n}));\n\nconst teamMembersContext = formattedTeamMembers.length > 0\n  ? formattedTeamMembers.map(m => `- ${m.name}${m.email ? ` (${m.email})` : ''} - ${m.role} [ID: ${m.id}]${m.humandChannelId ? ` [HumandID: ${m.humandChannelId}]` : ''}`).join('\\n')\n  : 'Nenhum membro de equipe associado a este projeto.';\n\n// Format project stats\nconst stats = projectData?.stats || {};\nconst projectStatsContext = `\nEstatísticas do Projeto:\n- Total de tarefas: ${stats.total || 0}\n- A fazer (todo): ${stats.todo || 0}\n- Em progresso: ${stats.inProgress || 0}\n- Em revisão: ${stats.review || 0}\n- Concluídas: ${stats.done || 0}\n- Bloqueadas: ${stats.blocked || 0}\n- Pontos totais: ${stats.totalPoints || 0}\n- Pontos concluídos: ${stats.completedPoints || 0}\n- Percentual de conclusão: ${stats.completionPercentage || 0}%\n`;\n\n// Format workload\nconst workload = stats.workload || {};\nconst workloadContext = Object.keys(workload).length > 0\n  ? Object.entries(workload)\n      .sort((a, b) => b[1].points - a[1].points)\n      .map(([name, data]) => `- ${name}: ${data.tasks} tarefas (${data.points} pontos)`)\n      .join('\\n')\n  : 'Nenhuma tarefa atribuída no momento.';\n\n// Format sprints\nconst sprints = projectData?.sprints || [];\nconst activeSprint = sprints.find(s => s.status === 'active') || null;\nconst sprintsContext = sprints.length > 0\n  ? sprints.map(s => {\n      const label = s.status === 'active' ? ' *** SPRINT ATUAL (ATIVA) ***' : s.status === 'planning' ? ' (planejamento)' : ' (concluída)';\n      return `- ${s.name}${label}${s.start_date ? ` | Início: ${s.start_date.substring(0,10)}` : ''}${s.end_date ? ` | Fim: ${s.end_date.substring(0,10)}` : ''}`;\n    }).join('\\n')\n  : 'Nenhuma sprint cadastrada.';\n\n// Format tasks lists — include sprint name on each task\nconst formatTask = t => {\n  let line = `- ${t.title}`;\n  if (t.assigned_to_name) line += ` (${t.assigned_to_name})`;\n  if (t.sprint_name) line += ` [Sprint: ${t.sprint_name}]`;\n  return line;\n};\n\nconst todoTasks = (projectData?.todoTasks || []).slice(0, 10);\nconst inProgressTasks = projectData?.inProgressTasks || [];\nconst blockedTasks = projectData?.blockedTasks || [];\n\nconst todoContext = todoTasks.length > 0\n  ? todoTasks.map(formatTask).join('\\n')\n  : 'Nenhuma tarefa a fazer.';\n\nconst inProgressContext = inProgressTasks.length > 0\n  ? inProgressTasks.map(formatTask).join('\\n')\n  : 'Nenhuma tarefa em progresso.';\n\nconst blockedContext = blockedTasks.length > 0\n  ? blockedTasks.map(formatTask).join('\\n')\n  : 'Nenhuma tarefa bloqueada.';\n\n// All tasks grouped by sprint (for sprint-specific queries)\nconst allTasks = projectData?.tasks || [];\nconst tasksBySprintContext = (() => {\n  if (!allTasks.length) return 'Nenhuma tarefa cadastrada.';\n  const groups = {};\n  allTasks.forEach(t => {\n    const key = t.sprint_name || 'Sem sprint';\n    if (!groups[key]) groups[key] = [];\n    groups[key].push(t);\n  });\n  return Object.entries(groups).map(([sprintName, tasks]) => {\n    const isActive = sprints.find(s => s.name === sprintName && s.status === 'active');\n    const header = isActive ? `### ${sprintName} (SPRINT ATUAL)` : `### ${sprintName}`;\n    return header + '\\n' + tasks.map(t => `  - [${t.status}] ${t.title}${t.assigned_to_name ? ` — ${t.assigned_to_name}` : ''}`).join('\\n');\n  }).join('\\n\\n');\n})();\n\nreturn {\n  message: message.trim(),\n  projectId,\n  projectName: projectName || 'Projeto',\n  userId,\n  userEmail: userEmail || '',\n  userName: userName || 'Usuário',\n  teamMembers: formattedTeamMembers,\n  teamMembersContext,\n  projectStatsContext,\n  workloadContext,\n  sprintsContext,\n  todoContext,\n  inProgressContext,\n  blockedContext,\n  tasksBySprintContext,\n  activeSprint: activeSprint ? activeSprint.name : null,\n  hasProjectData: !!projectData,\n  humandChannelId: humandChannelId || null,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "378a739c-5165-4a3f-8dab-45972432eee3",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1152, 880]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8d74bf66-c5e9-4807-a391-1b236c815163",
      "name": "Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1312, 880]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "Você é a Ada, uma assistente de IA amigável e profissional para o aplicativo de gerenciamento de projetos Daher Plan. Você foi nomeada em homenagem a Ada Lovelace, a primeira programadora da história.\n\nVocê ajuda os usuários com:\n1. Responder perguntas sobre o projeto (tarefas, sprints, carga de trabalho da equipe, progresso)\n2. Enviar e-mails para membros da equipe quando solicitado\n3. Enviar mensagens pelo Humand (plataforma de comunicação interna) para membros da equipe quando solicitado\n4. Fornecer insights sobre a saúde do projeto e recomendações\n5. Criar tarefas no projeto quando solicitado\n\nREGRAS IMPORTANTES:\n- SEMPRE responda em Português do Brasil\n- Seja concisa mas prestativa\n- Quando solicitado a enviar e-mails, extraia: destinatário(s), assunto e conteúdo da mensagem\n- Se um nome for ambíguo (várias pessoas com o mesmo nome), peça esclarecimento\n- Seja sempre solidária e profissional\n- Use acentos corretamente em português\n\nMECANISMOS DE ENVIO — leia com máxima atenção:\n\nCANAL HUMAND → chame a ferramenta 'send_humand_message'. NÃO gera JSON no texto.\nCANAL EMAIL → seu texto de resposta final deve conter SOMENTE o bloco JSON de email abaixo. Nenhum texto além do JSON.\nOs dois mecanismos são completamente separados.\n\nREGRA DE CANAL:\n- Usuário NÃO especifica canal → chame send_humand_message (Humand). Texto final: confirmação em português.\n- Usuário especifica APENAS 'email' → NÃO chame send_humand_message. Texto final: SOMENTE o JSON de email.\n- Usuário especifica APENAS 'humand' → chame send_humand_message. Texto final: confirmação em português.\n- Usuário pede OS DOIS canais → (1) chame send_humand_message UMA vez; (2) texto final: SOMENTE o JSON de email com campo \"also_sent_humand\": true. NENHUM outro texto além do JSON.\n\nAVISO OBRIGATÓRIO NAS MENSAGENS:\nSempre inclua no final do corpo de cada mensagem enviada (Humand ou email):\n\"\\n\\nObs.: Esta mensagem foi enviada pela assistente Ada (Daher Plan). Não é possível responder à Ada por este canal — para continuar, acesse o Daher Plan.\"\nNUNCA envie uma mensagem adicional só para informar isso.\n\nFORMATO DO JSON DE EMAIL:\n```json\n{\n  \"type\": \"email\",\n  \"recipients\": [\"email1@example.com\"],\n  \"recipientNames\": [\"Nome1\"],\n  \"subject\": \"Assunto\",\n  \"body\": \"Corpo completo incluindo o aviso de resposta\",\n  \"needsClarification\": false,\n  \"clarificationQuestion\": \"\",\n  \"also_sent_humand\": false\n}\n```\n\nPara envio pelo Humand, use a ferramenta 'send_humand_message' com o campo 'humandChannelId' do membro como CPF no campo 'ids'. Se o membro não tiver 'humandChannelId', informe que não é possível enviar pelo Humand para essa pessoa.\n\nIDENTIFICAÇÃO DO USUÁRIO ATUAL: O campo 'Canal Humand ID' na seção HUMAND do contexto é o CPF/Humand ID do próprio usuário que está conversando com você agora. Quando o usuário usar expressões como 'para mim', 'me envie', 'envie para mim', 'manda para mim' ou qualquer referência a si mesmo como destinatário, você DEVE usar esse Canal Humand ID como o destinatário da mensagem via Humand. Se o Canal Humand ID for 'Não fornecido', informe que não é possível enviar para o próprio usuário pois o CPF dele não está cadastrado no sistema.\n\nQuando detectar o comando do usuário de criar uma tarefa ou uma história do usuário, use sua tool do Supabase e crie a tarefa conforme especificado. Sempre que informarem data, utilize o formato yyyy-mm-dd. A coluna \"assigned_to\" deve ser preenchida com o uuid do usuários. Preencha SEMPRE na ordem title, assignet_to e dute_date.\n\nSe precisar de esclarecimento (ex: destinatário ambíguo, email não encontrado), defina needsClarification como true e forneça a pergunta.\n\nPara PERGUNTAS sobre o projeto (qualquer outra coisa que não seja envio de mensagem ou criação de tarefa), responda diretamente em texto natural, usando os dados do projeto fornecidos. NÃO use formato JSON para perguntas.\n\nIMPORTANTE: Os membros da equipe do projeto do usuário são fornecidos no contexto. Envie mensagens APENAS para membros válidos da equipe.",
              "role": "system"
            },
            {
              "content": "=Projeto: {{ $json.projectName }}\nUsuário: {{ $json.userName }} ({{ $json.userEmail }})\n\n--- MEMBROS DA EQUIPE ---\n{{ $json.teamMembersContext }}\n\n--- SPRINTS DO PROJETO ---\nSprint atual: {{ $json.activeSprint || 'Nenhuma sprint ativa' }}\n{{ $json.sprintsContext }}\n\n--- ESTATÍSTICAS DO PROJETO ---\n{{ $json.projectStatsContext }}\n\n--- CARGA DE TRABALHO POR MEMBRO ---\n{{ $json.workloadContext }}\n\n--- TAREFAS POR SPRINT ---\n{{ $json.tasksBySprintContext }}\n\n--- TAREFAS A FAZER (sprint atual) ---\n{{ $json.todoContext }}\n\n--- TAREFAS EM PROGRESSO (sprint atual) ---\n{{ $json.inProgressContext }}\n\n--- TAREFAS BLOQUEADAS ---\n{{ $json.blockedContext }}\n\n--- HUMAND ---\nCanal Humand ID: {{ $json.humandChannelId || 'Não fornecido' }}\n\n--- MENSAGEM DO USUÁRIO ---\n{{ $json.message }}"
            }
          ]
        },
        "options": {
          "maxTokens": 2000,
          "temperature": 0.7
        }
      },
      "id": "b0a76c23-caa9-4047-b481-7d75869d155a",
      "name": "OpenAI - Process Request",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [1456, 976],
      "credentials": {
        "openAiApi": {
          "id": "I6fH9QgxxSZf89vb",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json.message?.content || '';\nconst originalData = $('Parse Input').first().json;\n\nlet result;\n\nconst regexMarkdown = /```json\\s*([\\s\\S]*?)\\s*```/;\nconst regexRawJson = /\\{[\\s\\S]*\"type\"\\s*:\\s*\"email\"[\\s\\S]*\\}/;\n\nconst jsonMatch = response.match(regexMarkdown) || response.match(regexRawJson);\n\nif (jsonMatch) {\n  try {\n    const jsonStr = jsonMatch[1] || jsonMatch[0];\n    const parsed = JSON.parse(jsonStr);\n    \n    if (parsed.type === 'email') {\n      result = {\n        ...originalData,\n        type: 'email',\n        recipients: parsed.recipients || [],\n        recipientNames: parsed.recipientNames || parsed.recipients || [],\n        subject: parsed.subject || 'Mensagem do Daher Plan',\n        body: parsed.body || '',\n        needsClarification: parsed.needsClarification || false,\n        clarificationQuestion: parsed.clarificationQuestion || '',\n        also_sent_humand: parsed.also_sent_humand || false\n      };\n    } else {\n      result = {\n        ...originalData,\n        type: 'answer',\n        message: response.replace(/```json[\\s\\S]*?```/g, '').trim()\n      };\n    }\n  } catch (e) {\n    result = {\n      ...originalData,\n      type: 'answer',\n      message: response\n    };\n  }\n} else {\n  result = {\n    ...originalData,\n    type: 'answer',\n    message: response\n  };\n}\n\nreturn result;"
      },
      "id": "0bc16b15-7040-441d-b39c-bd5a7ee935ce",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1744, 976]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.type }}",
              "rightValue": "email",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "a8e58a54-ec66-487f-847b-54035644f520"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "525858d0-2b79-4c08-a650-60eee13ff964",
      "name": "Is Email Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1920, 976]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.needsClarification }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1f6ba5a-734e-4c27-9ea5-3727b0fe0f25",
      "name": "Needs Clarification?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2048, 656]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.recipients.join(', ') }}",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.body }}\n\n--\nEnviado via Ada - Assistente Daher Plan\nSolicitado por: {{ $json.userName }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "ddb4c31e-820b-40b3-817d-1d0f65c8911d",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2368, 560],
      "webhookId": "257b7d52-dd62-4442-8e58-8d66b3de0a95",
      "credentials": {
        "gmailOAuth2": {
          "id": "g40KuhXENAi9fmOP",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Email sent successfully\nconst data = $('Parse Response').first().json;\nconst names = (data.recipientNames || data.recipients || []).join(', ');\nconst alsoHumand = data.also_sent_humand === true;\n\nlet channelMsg;\nif (alsoHumand) {\n  channelMsg = `✅ Mensagem enviada para ${names} via Humand e por e-mail.`;\n} else {\n  channelMsg = `✅ E-mail enviado com sucesso para ${names}.`;\n}\n\nreturn {\n  success: true,\n  type: 'email_sent',\n  message: channelMsg + '\\n\\nO destinatário foi avisado que não é possível responder à Ada por esses canais — para dar continuidade ao assunto, ele deve acessar o Daher Plan.',\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "7fc97209-de90-429d-b9ac-20a4070c9d21",
      "name": "Email Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2576, 768]
    },
    {
      "parameters": {
        "jsCode": "// Return clarification question\nconst data = $input.first().json;\n\nreturn {\n  success: true,\n  type: 'clarification',\n  message: data.clarificationQuestion || 'Poderia me dar mais detalhes sobre para quem você gostaria de enviar o e-mail?',\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "b5374a0f-3e40-4211-ab99-3e414f473088",
      "name": "Return Clarification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2464, 912]
    },
    {
      "parameters": {
        "jsCode": "// Return answer response\nconst data = $input.first().json;\nconst msg = data.message || 'Desculpe, não consegui processar sua pergunta.';\n\n// If the AI mentioned sending via Humand, append the no-reply clarification\nconst humandMentioned = /humand/i.test(msg) && /(enviada?|enviado?|mensagem)/i.test(msg);\nconst finalMsg = humandMentioned && !/não é possível responder/i.test(msg)\n  ? msg + '\\n\\nO destinatário foi avisado que não pode responder à Ada pelo Humand — para continuar o assunto, ele deve acessar o Daher Plan.'\n  : msg;\n\nreturn {\n  success: true,\n  type: 'answer',\n  message: finalMsg,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "da986bb6-85a0-432e-95f5-def64ba3b7e9",
      "name": "Return Answer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2144, 1168]
    },
    {
      "parameters": {
        "jsCode": "// Return error response\nconst data = $input.first().json;\n\nreturn {\n  success: false,\n  type: 'error',\n  message: data.errorMessage || 'Ocorreu um erro ao processar sua solicitação.',\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "08d21346-1438-4500-9208-25e1a313d7db",
      "name": "Return Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 768]
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "15209703-6d91-4f94-a66a-26cf2761952f",
      "name": "Merge Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2800, 976]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "56edc2b7-1739-4839-aeda-4e304d9b0d1d",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2992, 992]
    },
    {
      "parameters": {
        "tableId": "tasks",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "project_id",
              "fieldValue": "={{ $json.projectId }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "assigned_to",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "due_date",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues3_Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [1552, 1184],
      "id": "420fbaef-03d9-410a-89be-c24e2bd98186",
      "name": "Create a row in Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "RSzHeCNGgANxvVsC",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "name": "send_humand_message",
        "description": "Envia mensagem pelo Humand. O input DEVE ser um JSON string no formato: {\"ids\":[\"CPF_SEM_FORMATACAO\"],\"text\":\"mensagem\"}. Os CPFs estão no contexto como [HumandID: ...]. Exemplo: {\"ids\":[\"03723880193\"],\"text\":\"Olá, a sprint começou hoje.\"}. Para múltiplos destinatários: {\"ids\":[\"11122233344\",\"55566677788\"],\"text\":\"mensagem\"}.",
        "jsCode": "try {\n  // O AI envia o query como JSON string: {\"ids\":[\"CPF\"],\"text\":\"mensagem\"}\n  const q = (typeof query !== 'undefined' && query) ? String(query).trim() : '';\n  if (!q) {\n    return JSON.stringify({ success: false, error: 'Query vazia. O input deve ser JSON: {\"ids\":[\"CPF\"],\"text\":\"mensagem\"}' });\n  }\n\n  let parsed;\n  try {\n    parsed = JSON.parse(q);\n  } catch (_parseErr) {\n    return JSON.stringify({ success: false, error: 'Query não é JSON válido. Formato esperado: {\"ids\":[\"CPF\"],\"text\":\"mensagem\"}', received: q.substring(0, 200) });\n  }\n\n  const externalIds = Array.isArray(parsed.ids) ? parsed.ids : [parsed.ids || parsed.employee_external_ids || parsed.id].filter(Boolean);\n  const text = parsed.text || parsed.message || '';\n\n  if (!externalIds.length || !text) {\n    return JSON.stringify({ success: false, error: 'JSON deve conter ids (array de CPFs) e text (mensagem)', received: parsed });\n  }\n\n  const BASE_URL = 'https://api-prod.humand.co/api/v1';\n  const AUTH = 'Basic ODQwNDU3NjpqMVdzTDVwRnB5QlgteEhHTjNtMDNWc3djSDJMTFhYMg==';\n\n  function ulid() {\n    const chars = '0123456789ABCDEFGHJKMNPQRSTVWXYZ';\n    let t = Date.now();\n    let tEnc = '';\n    for (let i = 0; i < 10; i++) { tEnc = chars[t % 32] + tEnc; t = Math.floor(t / 32); }\n    let rEnc = '';\n    for (let i = 0; i < 16; i++) rEnc += chars[Math.floor(Math.random() * 32)];\n    return tEnc + rEnc;\n  }\n\n  const results = [];\n\n  for (const externalId of externalIds) {\n    // Passo 1: abrir (ou recuperar) o canal DM da Ada com o destinatário\n    let openData;\n    try {\n      openData = await helpers.httpRequest({\n        method: 'POST',\n        url: BASE_URL + '/marty/conversations.open',\n        headers: { 'Authorization': AUTH, 'Content-Type': 'application/json', 'Idempotency-Key': ulid() },\n        body: { external_ids: [externalId] },\n        json: true\n      });\n      if (!openData.ok) {\n        results.push({ externalId, success: false, error: 'Falha ao abrir conversa', details: openData });\n        continue;\n      }\n    } catch (reqErr) {\n      results.push({ externalId, success: false, error: 'Erro em conversations.open', details: String(reqErr) });\n      continue;\n    }\n\n    const channelId = openData && openData.channel && openData.channel.id;\n    if (!channelId) {\n      results.push({ externalId, success: false, error: 'Channel ID não retornado' });\n      continue;\n    }\n\n    // Passo 2: enviar a mensagem\n    try {\n      const msgData = await helpers.httpRequest({\n        method: 'POST',\n        url: BASE_URL + '/marty/chat.postMessage',\n        headers: { 'Authorization': AUTH, 'Content-Type': 'application/json', 'Idempotency-Key': ulid() },\n        body: { channel: channelId, text: text, mrkdwn: false },\n        json: true\n      });\n      if (msgData.ok) {\n        results.push({ externalId, success: true, channel: channelId, ts: msgData.ts });\n      } else {\n        results.push({ externalId, success: false, error: 'Falha ao enviar mensagem', details: msgData });\n      }\n    } catch (reqErr) {\n      results.push({ externalId, success: false, error: 'Erro em chat.postMessage', details: String(reqErr) });\n    }\n  }\n\n  const allOk = results.every(r => r.success);\n  const sent = results.filter(r => r.success).length;\n  return JSON.stringify({ success: allOk, message: sent + ' de ' + externalIds.length + ' mensagem(ns) enviada(s) com sucesso no Humand', results });\n\n} catch (err) {\n  return JSON.stringify({ success: false, error: 'Erro inesperado no tool', details: String(err) });\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [1552, 1360],
      "id": "a7f3b291-c4d8-4e5a-b8e3-9d6f2c1a7e5b",
      "name": "Send Humand Message"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Ada Chat": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?": {
      "main": [
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI - Process Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Error": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "OpenAI - Process Request": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Is Email Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Email Command?": {
      "main": [
        [
          {
            "node": "Needs Clarification?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Clarification?": {
      "main": [
        [
          {
            "node": "Return Clarification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Email Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Success": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Clarification": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Return Answer": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge Responses": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row in Supabase": {
      "ai_tool": [
        [
          {
            "node": "OpenAI - Process Request",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Humand Message": {
      "ai_tool": [
        [
          {
            "node": "OpenAI - Process Request",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1ff67e2b-e8df-4854-889b-1fe38d949ebd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3adac32050d5981b0f9131d3fb8ba9297550a1bbe1cef7f0c8b1fcdde5053885"
  },
  "id": "FvCHiHIUJkMPtjpv",
  "tags": [
    {
      "name": "AI Assistant",
      "id": "Yf2e3MIMus4Veu1k",
      "updatedAt": "2026-04-06T20:03:00.540Z",
      "createdAt": "2026-04-06T20:03:00.540Z"
    },
    {
      "name": "Daher Plan",
      "id": "lrzU5DtBHgM8xNER",
      "updatedAt": "2026-04-06T20:03:00.505Z",
      "createdAt": "2026-04-06T20:03:00.505Z"
    }
  ]
}
